{
  "root": true,
  "overrides": [
    {
      "files": ["packages/**/src/*.js"],
      "excludedFiles": "*.test.js",

      "globals": {
        "assert": "writable"
      },
      "plugins": [
        "lit"
      ],
      "env": {
        "browser": true
      },
      "extends": [
        "@open-wc/eslint-config",
        "eslint-config-prettier",
        "plugin:lit/recommended"
      ],
      "rules": {
        "import/no-cycle": 1,
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true,
            "optionalDependencies": true,
            "peerDependencies": true
          }
        ]
      }
    }
  ],
  "ignorePatterns": [ "packages/**/test/*.js" ]

}
