<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title><%= componentName %></title>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="/node_modules/mocha/mocha.js"></script>
  <script src="/node_modules/chai/chai.js"></script>
  <script src="/node_modules/@polymer/test-fixture/test-fixture.js"></script>
  <script src="/node_modules/wct-mocha/wct-mocha.js"></script>
  <script src="/node_modules/sinon/pkg/sinon.js"></script>

  <script type="module" src="../furo-catalog.js"></script>
</head>
<body>


<test-fixture id="Basic">
  <template>
    <<%= componentName %>></<%= componentName %>>
  </template>
</test-fixture>

<script type="module">
  describe('reverse-deep-link', () => {
    let component;
    beforeEach(function (done) {
      // makeRequest is a utility function
      component = fixture('Basic');
      done()
    });


    it('instantiating the element with default properties works', () => {

      assert.equal(component.tagName.toLowerCase(), '<%= componentName %>');

    });


  });


</script>

</body>
</html>
